body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand img {
    width: 100px;
}

.navbar-collapse {
    flex-grow: unset;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: red;
    color: white;
    border-radius: 3rem;
}

.navbar .navbar-nav .nav-link:active {
    background-color: grey;
    color: white;
    border-radius: 3rem;
    font-weight: bold;
}

.head {
    color: white;
}

.intro {
    display: flex;
    align-items: center;
    height: 70vh;
}

.intro img {
    width: 80%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.pt-4{
    background-color: black;
    margin-top:px;

}